<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dev>
            <caching>
                <cache_user_defined_attributes>1</cache_user_defined_attributes>
                <cache_option_values>1</cache_option_values>
            </caching>
        </dev>
    </default>
</config>
