<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Eav\Model\Entity\Attribute\Source\Table">
        <plugin name="get_specific_options_cached"
                type="Blackbird\EavOptimize\Plugin\GetSpecificOptions"
                sortOrder="1"/>
    </type>
</config>
