<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dev">
            <group id="caching">
                <field id="cache_option_values" translate="label comment" type="select" sortOrder="10" showInDefault="1" canRestore="1">
                    <label>Cache Attribute Options Values</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Cache all text values grab with getAttributeText calls.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
